.flex {
  display: flex;
}

.item {
  padding: 1rem;
  margin: 1rem;
}

.red-b {
  border: 1px solid red;
}

.orange-b {
  border: 1px solid orange;
}

.light-green-b {
  border: 1px solid lightgreen;
}


.aqua-b {
  border: 1px solid aqua;
}
.black-b {
  border: 1px solid black;
}
.dark-grey-b {
  border: 1px solid darkgrey;
}


