.flex {
  display: flex;
}

.item {
  padding: 1rem;
  margin: 1rem;
}

.red-b {
  border: 1px solid red;
}

.orange-b {
  border: 1px solid orange;
}

.light-green-b {
  border: 1px solid lightgreen;
}


.aqua-b {
  border: 1px solid aqua;
}
.black-b {
  border: 1px solid black;
}
.dark-grey-b {
  border: 1px solid darkgrey;
}


/* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: rgb(192, 193, 235);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}